<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- page title -->
  <title>Project title</title>
  <!-- include styles -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- include jQuery library -->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" defer></script>
  <!-- include jQuery library local file if cdn link doesn't work -->
  <script>window.jQuery || document.write('<script src="js/jquery-3.7.1.min.js" defer><\/script>')</script>
  <!-- include app js file  -->
  <script src="js/app.js" defer></script>
</head>

<body>
  <a class="visually-hidden focusable" href="#main">Skip to Content</a>
  <noscript>
    <div>Javascript must be enabled for the correct page display</div>
  </noscript>
  <div class="wrapper">
    <header class="header">
      <!-- header content -->
    </header>
    <div class="page-holder">
      <main class="main" id="main">
        <h1>Home page</h1>
        <img src="images/test.jpg" alt="" />
        <img src="images/test.png" alt="" />
        <img src="images/test.svg" alt="" />
        <i class="icon-chevron-left"></i>
        <i class="icon-chevron-up"></i>
        <i class="icon-chevron-right"></i>
        <i class="icon-chevron-down"></i>
      </main>
    </div>
    <footer class="footer">
      <!-- footer content -->
    </footer>
  </div>
</body>

</html>