
// -----------------------------------------------------------------------------
// This file contains typography styles.
// -----------------------------------------------------------------------------

///*
//  Set up a decent box model on the root element
//*/

// set html { font-size: 62.5%; } if you want to make 1rem equal to 10px. dot not use it with css frameworks like bootstrap. tailwind etc.

/*
  Basic typography style for copy text
*/
body {
  @include font-size(map-get($font-sizes,'base'));
  @include font-smoothing;
  color: $gray-300;
  font-family: $font-family-base;
  line-height: $line-height-base;
  font-weight: $font-weight-normal;
  padding: 0;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  line-height: $line-height-base;
  font-weight:$font-weight-semibold;
  font-family:$font-family-sans-serif;
  margin: 0 0 0.5em 0;
  color: $primary;
}
h1,
.h1 {
  @include font-size(map-get($headings-sizes,'h1'))
}
h2,
.h2 {
  @include font-size(map-get($headings-sizes,'h2'));
  color: $gray-400;
}
h3,
.h3 {
  @include font-size(map-get($headings-sizes,'h3'));
  color:$white;
}
h4,
.h4 {
  @include font-size(map-get($headings-sizes,'h4'));
}
h5,
.h5 {
  @include font-size(map-get($headings-sizes,'h5'))
}
h6,
.h6 {
  font-size:map-get($headings-sizes,'h6');
  color: $gray-400;
}
/*
  Basic styles for links
*/
a {
  @include transition((color, opacity, background, border, visibility,
  box-shadow, width, left, right, transform));
  color: $gray-400;
  text-decoration: $link-decoration;

  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

